<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a small tech start-up focusing on creating a
                      block-chain based energy market solution for developing,
                      crowd-funding and integrating sustainable energy systems in local
                      communities and businesses.
                      </p>
                </div>
                <div class="col-lg-4">
                    <p>We have received a national grant to participate into a
                      research project to demonstrate a p2p energy market in a
                      community of positive energy houses, with solar panels,
                      geothermic heat pump and electrical vehicles.</p>
                </div>
            </div>
        </div>
    </section>
