<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="star-primary">
                    <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:rethore@weou.org">rethore@weou.org</a><br></h3>
                    <h3><i class="fa fa-mobile" aria-hidden="true"></i> +45 213 312 93</h3>
                </div>
            </div>
        </div>
    </section>
